@import url("./normalize.css");

:root {
  --primaryBright: #f54996;
  --primaryDark: #a83267;
  --secondaryBright: #f6ed2e;
  --secondaryDark: #a9a31f;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.skew-1 {
  width: 100%;
  height: 50px;
  left: 0;
  background: linear-gradient(to left top, #ffffff 49%, var(--primaryDark) 50%);
  margin-bottom: 40px;
}

.skew-2 {
  width: 100%;
  height: 50px;
  left: 0;
  background: linear-gradient(
    to left bottom,
    #ffffff 49%,
    var(--primaryDark) 50%
  );
  margin-bottom: 40px;
}

header {
  font-family: "ZX Spectrum-7", sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 10px 0 0 0;
}

h2 {
  font-size: 1.9rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  line-height: 60%;
}

header h2 {
  margin-top: -4px;
  margin-bottom: 30px;
}

.intro {
  margin: 40px 20px 0px 20px;
}

.intro img {
  max-width: 130px;
  height: auto;
  display: block;
  margin-left: auto;
  float: right;
}

.social-icons a {
  font-size: 2rem;
  margin-right: 20px;
}

.intro a:link,
.intro a:visited {
  color: var(--primaryBright);
}

.intro a:hover,
.intro a:active,
.intro a:focus {
  color: var(--primaryDark);
}

.blob {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 6px 0 6px 0;
  border-bottom: 8px solid black;
  background-color: #ffffff;
}

nav ul li {
  background-color: #f54996;
  padding: 0 4px 0 4px;
  border-radius: 4px;
  font-family: "ZX Spectrum-7", sans-serif;
  font-size: 1.6rem;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #ffffff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

nav ul li:hover,
nav ul li:active,
nav ul li:focus {
  text-decoration: none;
  background-color: var(--primaryDark);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menuNav.showMenu {
  display: flex;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.menuNav {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

.hamburger {
  font-size: 1.5rem;
}

.toggle {
  border: none;
  margin: 6px 10px 0 0;
  padding-top: 4px;
  background-color: #cccccc;
}

.toggle:hover,
.toggle:focus {
  cursor: pointer;
  background-color: var(--primaryBright);
}

.navicon {
  display: flex;
  justify-content: flex-end;
}

.project,
footer,
#about,
#projects {
  padding: 0 10px 0 10px;
}

p {
  line-height: 1.4rem;
}

/* anchor link target offset to stop navbar covering up content */
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

#about ul {
  padding: 0;
  list-style: none;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#about li {
  color: var(--primaryBright);
  font-size: 2rem;
  flex: 1 0 33%;
  height: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#about li span {
  color: black;
  font-size: 1rem;
}

.project .tag {
  font-size: 0.7rem;
  padding: 4px;
  border-radius: 30px 10px;
  text-transform: uppercase;
  background-color: var(--secondaryBright);
  display: inline-block;
}

.tags {
  display: flex;
}

.project img {
  width: 95%;
  height: auto;
  border: 6px solid black;
  z-index: -1;
  position: relative;
  transform: rotate(-3deg) skew(-3deg);
}

.project a:link,
.project a:visited {
  text-decoration: none;
  float: right;
  margin-left: 10px;
  border: 4px solid var(--primaryBright);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: black;
}

.live-link {
  padding-right: 7px;
}

.project-title {
  background-color: var(--primaryBright);
  color: white;
  margin: 0;
  font-size: 1.1rem;
  padding: 4px;
  border-left: 8px solid white;
  border-right: 8px solid white;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  transform: translate(1rem, 1.1rem);
}

.project-links a:link,
.project-links a:visited {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.project-links a:hover,
.project-links a:active,
.project-links a:focus {
  background-color: var(--secondaryBright);
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg); 
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.sending {
  padding: 10px 0 0 0;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

/* BREAK-POINTS */

@media (min-width: 992px) { 
  h1 {
    font-size: 5rem;
    margin: 100px 0 0 16%;
  }
  
  h2 {
    font-size: 3rem;
    margin: 10px 0 10px 16%;
  }
  
  .social-icons {
    margin-left: 16%;
  }

  .social-icons a {
    font-size: 2.3rem;
  }
  
  .intro img {
    max-width: 200px;
    margin-right: 16%;
  }

  nav ul li {
    padding: 0 8px 0 8px;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  main,
  #about {
    width: 80%;
    margin: auto;
  }

  #about ul {
    width: 80%;
  }
  
  #about li {
    height: 7rem;
    font-size: 2.8rem;
  }
  
  #about li span {
    font-size: 1.3rem;
  }

  .project-title {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding: 8px;
    border-left: 16px solid white;
    border-right: 16px solid white;
  }

  .project .tag {
    font-size: 1.4rem;
  }

  .project img {
    max-width: 90%;
  }

  footer p {
    font-size: 0.9rem;
  }
}
